  @mixin ejemploMixin($alto, $ancho) {
    height:$alto;
    width:$ancho;
    
  }
  .descripcionHerramienta {
    @include ejemploMixin(100%, 100%)
    
  }
  .descripcionHerramienta {
    font-size: 20.5px
  }


