.gridConteiner {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas: 
     "pintura destornillador destornillador"
     "pintura motita clavos"
     "pintura thinner clavos"
     "pintura arena arena"
 
}

.gridItem {
    
    color:black;
    font-size: 50px;
    font-style: bold;
    text-align: center;
    transition: transform 1.2s; 

    &:hover {
        transform: scale(1.07);
    }
}


.redo {
    background-image: url(../IMAGENES/Pintura.jpg);
    background-repeat: no-repeat;
    grid-area: pintura;
}

.blueo {
    background-image: url(../IMAGENES/destornilladores.jpg);
    background-position: center;
    
    background-color: yellow;
    grid-area: destornillador;

}

.greeno {
    background-image: url(../IMAGENES/EZETA.jpg);
    grid-area: thinner;
}

.yellow {
    background-image: url(../IMAGENES/Soga.jpg);
    background-repeat: no-repeat;
    background-position: center;
    grid-area: clavos;
}

.violet {
    background-image: url(../IMAGENES/Fastix1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    grid-area: motita;

}

.turquesa {
    background-image: url(../IMAGENES/CABLES.jpg);
    background-position: center;
    background-repeat: no-repeat;
    grid-area: arena;
}
