
.imagenChiquita {
    width: 30px;
    height: 30px;
}

.imagenMediana {
    width: 100px;
    height: 100px;
}

.imagenMedianaGrande {
    width: 500px;
    height: 500px;
}

.imagenOferta {
    width: 200px;
    height: 200px;
}

.imagenUbicacion {
    width: 560px;
    height: 560px;
}