
.imagenChiquita {
    width: 30px;
    height: 30px;
}

.imagenMediana {
    width: 50px;
    height: 50px;
}

.imagenMedianaGrande {
    width: 500px;
    height: 500px;
}

.imagenOferta {
    width: 50px;
    height: 50px;
}

.imagenUbicacion {
    width: 560px;
    height: 560px;
}