* {
  margin: 0;
  padding: 0; }

body {
  padding: 50px 30px 20px 30px;
  margin-left: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.header {
  position: sticky;
  top: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 9999; }
  .header__logo {
    background-color: white; }
  .header__title {
    background-color: #f15b5b;
    font-size: small; }
  .header__menu {
    background-color: #baf38c; }
  .header nav ul {
    list-style-type: none;
    text-align: center;
    font-size: 15px;
    margin-left: 50px; }
  .header nav li {
    display: inline-block;
    margin-right: 30px; }

a {
  color: black;
  text-decoration: none; }

h1 {
  color: red;
  background-color: black;
  font-size: 30px; }

h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center; }

p {
  color: black;
  text-align: center; }

section {
  background-color: #a6df8c; }

.classTablasBloque {
  width: 100%;
  height: 200px; }

.classTablasOpciones {
  color: #3f0655;
  text-align: center; }

#tituloquienessomos {
  color: black;
  background-color: blueviolet;
  background-image: linear-gradient(to left, #240f7e, #10bad8);
  padding-top: 25px; }

.fotoQuienesSomos {
  margin: 0px; }

.quienessomosDescripcion {
  font-style: italic;
  font-weight: bold;
  font-size: 14.5px;
  line-height: 1.6;
  background-image: url(../IMAGENES/productos-ferreteria-industrial-online.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  padding: 0px;
  margin: 0px;
  border-style: solid; }

.boton, .boton--Whatssap, .boton--Messenger {
  width: 200px;
  height: 50px;
  position: relative;
  left: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 2px solid black; }

.boton--Whatssap {
  background-color: green;
  color: white; }

.boton--Messenger {
  background-color: #0833b3;
  color: #d0c1f3; }

.flexConteiner {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }

.flexItem {
  width: 200px;
  height: 200px;
  color: white;
  text-align: end;
  display: flex;
  justify-content: center;
  align-items: center; }

.red {
  background-image: url(../IMAGENES/Estufa.jpg); }
  .red:hover {
    transform: scale(1.5); }

.blue {
  background-image: url(../IMAGENES/Manguera.jpg); }
  .blue:hover {
    transform: scale(1.5); }

.green {
  background-image: url(../IMAGENES/Bujias.jpg); }
  .green:hover {
    transform: scale(1.5); }

.gridConteiner {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  grid-template-areas: "pintura destornillador destornillador" "pintura motita clavos" "pintura thinner clavos" "pintura arena arena"; }

.gridItem {
  color: black;
  font-size: 50px;
  font-style: bold;
  text-align: center;
  transition: transform 1.2s; }
  .gridItem:hover {
    transform: scale(1.07); }

.redo {
  background-image: url(../IMAGENES/Pintura.jpg);
  background-repeat: no-repeat;
  grid-area: pintura; }

.blueo {
  background-image: url(../IMAGENES/destornilladores.jpg);
  background-position: center;
  background-color: yellow;
  grid-area: destornillador; }

.greeno {
  background-image: url(../IMAGENES/EZETA.jpg);
  grid-area: thinner; }

.yellow {
  background-image: url(../IMAGENES/Soga.jpg);
  background-repeat: no-repeat;
  background-position: center;
  grid-area: clavos; }

.violet {
  background-image: url(../IMAGENES/Fastix1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  grid-area: motita; }

.turquesa {
  background-image: url(../IMAGENES/CABLES.jpg);
  background-position: center;
  background-repeat: no-repeat;
  grid-area: arena; }

.descripcionHerramienta {
  height: 100%;
  width: 100%; }

.descripcionHerramienta {
  font-size: 20.5px; }

#ofertas {
  padding-top: 125px;
  color: black;
  text-align: center;
  font-weight: bold; }

#nuevosproductos {
  padding-top: 125px;
  color: black;
  text-align: center;
  font-weight: bold; }

#laherramientadelasemana {
  padding-top: 125px;
  color: black;
  text-align: center;
  font-weight: bold; }

#outlet {
  padding-top: 125px;
  color: black;
  text-align: center;
  font-weight: bold; }

#distribuidoresoficiales {
  padding-top: 125px;
  color: black;
  text-align: center;
  font-weight: bold; }

footer {
  background-color: #e44040;
  font-family: 'Roboto', sans-serif; }

.footerArticleUbicacion {
  border-style: solid;
  text-align: center;
  padding: 40px; }

.imagenChiquita {
  width: 30px;
  height: 30px; }

.imagenMediana {
  width: 50px;
  height: 50px; }

.imagenMedianaGrande {
  width: 500px;
  height: 500px; }

.imagenOferta {
  width: 50px;
  height: 50px; }

.imagenUbicacion {
  width: 560px;
  height: 560px; }

.tableResponsive {
  width: 100vw;
  overflow: auto; }

.videoYoutube {
  width: 560px;
  height: 560px; }

@keyframes rotacion {
  0% {
    width: 100px; }
  25% {
    width: 300px; }
  50% {
    width: 200px;
    background-color: red; }
  75% {
    width: 300px; }
  100% {
    width: 100px;
    background-color: green; } }

@media screen and (max-width: 900px) {
  .tableResponsive {
    width: 100%;
    overflow: auto; }
  .flexItem {
    width: 90px;
    height: 90px; }
  .imagenMedianaGrande {
    width: 50%;
    height: 50%; }
  .videoYoutube {
    width: 50%;
    height: 50%; }
  .imagenUbicacion {
    width: 50%;
    height: 50%; }
  .fotoQuienesSomos {
    transform: translate(0); }
  .red {
    transform: scale(1); }
  .descripcionHerramienta {
    font-size: 10px; }
  .boton, .boton--Whatssap, .boton--Messenger {
    width: 50%;
    height: 50%;
    position: relative;
    left: 70px; } }
